
/* ========== Components ========== */
footer {
    background-color: #3e4b4e;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.chevron-icon {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.dropdown:hover .chevron-icon {
    transform: rotate(180deg) scale(1.2);
}

.image-placeholder {
    background: linear-gradient(45deg, #ccc, #eee);
    height: 150px;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #777;
}
