
/* ========== Dark & Light Themes ========== */
body.dark-mode {
    background-color: #121212;
    color: #eeeeee;
}

body.dark-mode main {
    background-color: #202020;
}

body.dark-mode .showcase-tile {
    background-color: #2a2a2a;
}

body.dark-mode .navbar a,
body.dark-mode .dropbtn,
body.dark-mode .dropdown-content a {
    color: #ff7f11;
}

body.dark-mode .dropdown-content {
    background-color: #2a2a2a;
}

body.dark-mode footer {
    background-color: #1a1a1a;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3 {
    color: #ffffff;
}

body.dark-mode a {
    color: #ff7f11;
}

body.dark-mode a::after {
    background-color: #ff7f11;
}
