
/* ========== Theme Styles ========== */
body.dark-mode {
    background-color: #121212;
    color: #eeeeee;
}

body.dark-mode main {
    background-color: #202020;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
    color: #ffffff;
}
    